#main {
    width: calc(100% - 361px);
    margin-left: 361px;
    background: #FAFAFA;
    min-height: 100vh;
}

.layout-content {
    padding-left: 36px;
}

// ============= Start header-gantt =============
ul.list-menu-gantt {
    padding: 24px 0 16px 0;
    margin: 0 36px 26px 36px;
    margin-bottom: 26px;
    border-bottom: 1px solid #D9D9D9;
    display: flex;
    flex: wrap;

    li {
        font-size: 15px;
        line-height: 23px;
        font-family: Montserrat-Medium;
        letter-spacing: -0.03em;
        color: #8C8C8C;
        margin-right: 20px;
        padding: 8px 0;
        width: 100%;
        max-width: 227px;
        text-align: center;
        border-radius: 24px;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        &.active {
            background: #256BF4;
            color: #fff;
        }
    }
}

.list-gantt-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 36px;
    margin-bottom: 16px;

    .list-gantt-header_icon {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 8px;

        img {
            cursor: pointer;
        }
    }

    .list-gantt-header_btn {
        display: flex;
        align-items: center;

        li {
            margin-left: 16px;
        }

        button {
            background: #F5F5F5;
            border-radius: 30px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &.timeline {
                padding: 8px 5px 8px 24px;
                border: 1px solid #333333;

                img {
                    margin-left: 27px;
                }
            }

            &.create {
                padding: 8px 24px;
                color: #256BF4;
                border: 1px solid #256BF4;

                img {
                    margin-left: 10px;
                }
            }
        }
    }
}

.list-gantt-body {
    display: flex;
}

.table-gantt {
    width: 1090px;
    border-right: 5px solid #D9D9D9;
    min-height: 85vh;
    overflow: auto;

    table {
        border-spacing: 0;
        width: 1154px;

        td {
            padding: 5px 0 5px 16px;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            font-family: Montserrat-Medium;
        }

        thead {
            position: relative;

            &::after {
                content: '';
                height: 8px;
                width: 100%;
                display: block;
            }

            td {
                height: 44px;
                border-right: 1px solid #BFBFBF;
                border-bottom: 1px solid #BFBFBF;
                color: #333333;

                &:nth-child(1) {
                    width: 70px;
                }

                &:nth-child(2) {
                    width: 235px;
                }

                &:nth-child(3) {
                    width: 120px;
                }

                &:nth-child(4) {
                    width: 120px;
                }

                &:nth-child(5) {
                    width: 150px;
                }

                &:nth-child(6) {
                    width: 125px;
                }

                &:nth-child(7) {
                    width: 98px;
                }

                &:nth-child(8) {
                    width: 125px;
                }

                &:last-child {
                    border-right: none;
                }
            }
        }

        tbody {
            tr {
                &:hover {
                    background: #E5ECF9;
                }

                .arrow {
                    margin-right: 8px;
                }

                &.sub-tab-1 {
                    td {
                        &:nth-child(2) {
                            padding-left: 48px;
                        }
                    }
                }

                &.sub-tab-2 {
                    td {
                        &:nth-child(2) {
                            padding-left: 100px;

                            span {
                                position: relative;

                                &::before {
                                    content: '';
                                    background: #256BF4;
                                    display: inline-block;
                                    width: 5px;
                                    height: 5px;
                                    border-radius: 50%;
                                    position: absolute;
                                    top: 50%;
                                    left: -14px;
                                    transform: translateY(-50%);
                                }
                            }
                        }
                    }
                }

                &.high .dots {
                    background: #F44336;
                }

                &.normal .dots {
                    background: #52C41A;
                }

                &.low .dots {
                    background: #8C8C8C;
                }

                &.processing td:last-child {
                    color: #52C41A;
                }

                &.pause td:last-child span {
                    color: #5D5FEF;
                }

                &.pending td:last-child {
                    color: #FAAD14;
                }

                &.unstarted td:last-child {
                    color: #333333;
                }
            }

            td {
                position: relative;
                color: #8C8C8C;

                &::after {
                    content: '';
                    background: #D9D9D9;
                    display: block;
                    width: 100%;
                    height: 0.25px;
                    position: absolute;
                    bottom: 8px;
                    left: 0;
                }

                span {
                    height: 45px;
                    display: flex;
                    align-items: center;
                    position: relative;
                }

                &:nth-child(7) {
                    padding: 0;

                    img {
                        margin: 0 auto;
                        width: 30px;
                    }
                }

                &:nth-child(5) {
                    .box-img {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 4px;
                        position: relative;

                        .number {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: -0.01em;
                            font-family: Montserrat-SemiBold;
                            color: #FFFFFF;
                        }

                        &:nth-child(4) {
                            &::before {
                                content: '';
                                background: #333333;
                                opacity: 0.6;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                border-radius: 50%;
                            }
                        }
                    }
                }

                &:nth-child(6) {
                    .dots {
                        width: 7px;
                        height: 7px;
                        display: block;
                        border-radius: 50%;
                        margin-right: 11px;
                    }
                }
            }
        }

        .box-circle {
            margin: 0 auto;
            position: relative;
            width: 35px;
            height: 35px;

            svg {
                width: 35px;
                height: 35px;
                transform: rotate(-90deg);

                circle {
                    fill: none;
                    stroke-width: 3px;
                    stroke: #000;
                    transform: translate(3px, 3px);
                    stroke-dasharray: 94;
                    stroke-dashoffset: 94;

                    &:nth-child(1) {
                        stroke-dashoffset: 0;
                        stroke: #D9D9D9;
                    }

                    &:nth-child(2) {
                        stroke-dashoffset: calc(94 - (94 * 32) / 100);
                        stroke: #256BF3;
                    }
                }
            }

            span {
                position: absolute !important;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 12px;
                line-height: 15px;
                letter-spacing: -0.01em;
                font-family: Montserrat-SemiBold;
                color: #256BF4;
            }
        }

    }
}

.gantt {
    overflow-x: scroll;
    overflow-y: hidden;
    width: calc(100% - 1090px);

    table {
        width: 1358px;
        height: 100%;
        border-spacing: 0;

        td {
            width: 100px;
            height: 22px;
            font-size: 13px;
            line-height: 16px;
            text-align: center;
            font-family: Montserrat-Medium;
            color: #8C8C8C;
        }

        thead {
            height: 44px;

            tr {
                td {
                    position: relative;
                }

                &:nth-child(1) {
                    text-align: center;

                    td {
                        border-right: 0.5px solid #D9D9D9;

                        &:last-child {
                            border-right: none;
                        }
                    }
                }

                &:nth-child(2) {
                    td {
                        border-top: 1px solid #D9D9D9;
                        border-bottom: 1px solid #D9D9D9;
                        border-left: 0.5px solid #D9D9D9;
                    }
                }

                .time-line {
                    background: #F44336;
                    border-radius: 0px 6px 6px 0px;
                    color: #fff;
                    position: absolute;
                    top: 0;
                    font-size: 12px;
                    line-height: 14px;
                    text-align: center;
                    letter-spacing: -0.01em;
                    color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    padding: 11px;

                    &::before {
                        content: '';
                        display: block;
                        width: 1px;
                        height: 100vh;
                        position: absolute;
                        border-left: 1px dashed #F44336;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }

        tbody {
            td {
                &.active {
                    background: #F5F5F5;
                }

                border-left: 0.5px solid #D9D9D9;
            }
        }
    }
}

// ============= End header-gantt =============



// ============= Start box-task =============
.task-form {
    width: 571px;
    padding: 39px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 0px 21px -4px rgba(23, 23, 23, 0.16);
    border-radius: 16px;

    .task-form_header {
        margin-bottom: 36px;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 27px;
            .list-menu{
                background: #FFFFFF;
                border-radius: 8px;
                width: auto;
                min-width: 198px;
                padding: 4px 24px;
                position: absolute;
                top: 85px;
                right: -60px;
                box-shadow: 0px 0px 8px -8px rgba(0, 0, 0, 0.08), 2px 2px 16px -2px rgba(23, 23, 23, 0.06);
                li{
                    padding: 16px 0;
                    border-bottom: 1px solid #D9D9D9;
                    font-size: 13px;
                    line-height: 16px;
                    color: #8C8C8C;
                    font-family: Montserrat-Medium;
                    &:last-child{
                        border: none;
                    }
                }
            }
            h6 {
                font-size: 16px;
                line-height: 19px;
                letter-spacing: 0.0015em;
                font-family: Montserrat-SemiBold;
                color: #333333;
            }

            img {
                cursor: pointer;
                vertical-align: middle;
                margin-left: 8px;
                &:first-child{
                    margin: 0;
                }
            }
        }

        .list-tab{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            font-size: 15px;
            line-height: 23px;
            text-align: center;
            letter-spacing: -0.03em;
            font-family: Montserrat-Medium;
            color: #8C8C8C;
            padding-bottom: 16px;
            border-bottom: 1px solid #D9D9D9;
            li {
                transition: all 0.5s;
                border-radius: 16px;
                padding: 8px 0;
                cursor: pointer;

                &.active,
                &:hover {
                    background: #256BF4;
                    color: #fff;
                }
            }
        }
    }
}
.task-form_body{
    .notification{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        width: 100%;
        font-size: 15px;
        line-height: 22px;
        font-family: Montserrat-Medium;
        text-align: center;
        color: #8C8C8C;
    }
}
.box-task {
    background: #FFFFFF;
    border: 0.5px solid #8C8C8C;
    box-sizing: border-box;
    border-radius: 24px;
    padding: 24px;
    margin-bottom: 24px;
    .title {
        margin-bottom: 12px;
        font-size: 14px;
        line-height: 16px;
        font-family: Montserrat-SemiBold;
        letter-spacing: 0.0125em;
        color: #256BF4;
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
            cursor: pointer;
        }
    }
    table{
        width: 100%;
        td{
            position: relative;
            &:nth-child(2) {
                font-size: 15px;
                line-height: 23px;
                text-align: right;
                letter-spacing: -0.03em;
                font-family: Montserrat-Medium;
                text-align: right;
            }
        }
        img,span{
            vertical-align: middle;
        }
        
    }
}

.box-task_file {
    padding: 16px !important;
    position: relative;
    .title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 17px;
        border-bottom: 1px solid #D9D9D9;

        img {
            cursor: pointer;
        }

        .box-txt {
            display: flex;
            input{
                font-size: 14px;
                line-height: 16px;
                letter-spacing: 0.0125em;
                color: #333333;
                font-family: Montserrat-SemiBold;
                margin-right: 8px;
                border: none;
                padding: 9px 8px;
                width: 315px;
            }
            .note {
                font-family: Montserrat-Medium;
                background: rgba(37, 107, 244, 0.2);
                border-radius: 24px;
                padding: 4px 16px;
                line-height: 17px;
                letter-spacing: 0.02em;
                display: flex;
                color: #333333;
                align-items: center;
            }
        }
        .list-note{
            background: #FFFFFF;
            box-shadow: 0px 1px 2px -2px rgba(0, 0, 0, 0.16), 0px 0px 21px -4px rgba(23, 23, 23, 0.16);
            border-radius: 16px;
            padding: 16px 24px;
            width: 100%;
            margin-top: 12px;
            position: absolute;
            top: 52px;
            right: 0;
            img,span{
                vertical-align: middle;
            }
            span{
                font-size: 13px;
                line-height: 16px;
                color: #8C8C8C;
                font-family: Montserrat-Medium;
                padding: 16px 0;
            }
            .note {
                font-family: Montserrat-Medium;
                background: rgba(37, 107, 244, 0.2);
                border-radius: 24px;
                color: #333333;
                padding: 4px 16px;
                line-height: 17px;
                letter-spacing: 0.02em;
                display: inline-flex;
                align-items: center;
            }
            li{
                padding: 8px 0;
                border-bottom: 0.5px solid #D9D9D9;
                &:last-child{
                    border: none;
                }
            }
        }
    }

    textarea {
        margin: 21px 0;
        font-size: 15px;
        line-height: 22px;
        color: #8C8C8C;
        font-family: Montserrat-Medium;
        padding: 6px 4px;
        max-width: 100%;
        min-width: 100%;
        border: none;
    }

    ul.list-file {
        display: grid;
        grid-gap: 8px;

        li {
            padding: 8px 16px;
            background: #FFFFFF;
            border: 0.5px solid #8C8C8C;
            box-sizing: border-box;
            border-radius: 24px;
            position: relative;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            color: #333333;
            font-family: Montserrat-Medium;
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            width: max-content;

            span {
                padding: 0 15px;
            }

            .close {
                cursor: pointer;
            }
        }
    }

    .btn-create {
        margin-top: 19px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 17px;
    }
}

button.btn {
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.0125em;
    color: #8C8C8C;
    background: #FFFFFF;
    padding: 12px;
    font-family: Montserrat-SemiBold;
    border: 1.25px solid #8C8C8C;
    border-radius: 16px;
    cursor: pointer;

    &.create {
        background: #256BF4;
        color: #FFFFFF;
        border-color: #256BF4;
    }
}

.box-task_status {
    table {
        width: 100%;
        border-spacing: 0 19px;

        td {
            &:nth-child(1) {
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 17px;
                letter-spacing: 0.02em;
                color: #8C8C8C;
                font-family: Montserrat-Medium;
                input
                img {
                    margin-right: 16px;
                }
            }

            &:nth-child(2) {
                text-align: right;
                font-size: 15px;
                line-height: 23px;
                text-align: right;
                letter-spacing: -0.03em;
                color: #333333;
                font-family: Montserrat-Medium;
                input[type=date] {
                    border: none;
                    font-size: 15px;
                    line-height: 23px;
                    text-align: right;
                    letter-spacing: -0.03em;
                    color: #333333;
                    font-family: Montserrat-Medium;
                    width: 130px;
                }
                // input[type="date"]::-webkit-inner-spin-button,
                // input[type="date"]::-webkit-calendar-picker-indicator {
                //     display: none;
                //     -webkit-appearance: none;
                // }
                img {
                    vertical-align: middle;
                    margin-right: 8px;
                }
            }

            .dot {
                background: #F44336;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                display: inline-block;
                margin-right: 12px;
            }

            .box-progress {
                display: flex;
                align-items: center;
                justify-content: end;
                span{
                    display: flex;
                    align-items: center;
                    input{
                        border: none;
                        width: 25px;
                        padding: 5px;
                    }
                    input[type="number"]::-webkit-inner-spin-button,
                    input[type=".number"]::-webkit-calendar-picker-indicator {
                        display: none;
                        -webkit-appearance: none;
                    }
                }
                .progress {
                    width: 135px;
                    height: 8px;
                    margin-right: 21px;
                    background: #D9D9D9;
                    border-radius: 10px;

                    .progress-bar {
                        width: 24%;
                        height: 8px;
                        background: #2059CB;
                        border-radius: 10px;
                        position: relative;

                        &::before {
                            content: '';
                            width: 16px;
                            height: 16px;
                            display: inline-block;
                            background: #215ED7;
                            box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
                            border-radius: 50px;
                            position: absolute;
                            top: 50%;
                            right: -8px;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }
    .status-modal{
        width: 100%;
        max-width: 196px;
        text-align: left;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 2px 2px 16px rgba(23, 23, 23, 0.06);
        border-radius: 24px;
        background: #FFFFFF;
        padding: 5px 22px;
        position: absolute;
        z-index: 111;
        top: 25px;
        right: -42px;
        li{
            display: flex;
            align-items: center;
            font-size: 15px;
            line-height: 18px;
            color: #333333;
            font-family: Montserrat-Medium;
            padding: 15px 0;
            border-bottom: 0.5px solid #D9D9D9;
            &:last-child{
                border: none;
            }
            input{
                margin-right: 13px;
            }
        }
    }
    .time-modal{
        background: #FFFFFF;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 0px 21px rgba(23, 23, 23, 0.16);
        border-radius: 24px;
        padding: 24px;
        width: 298px;
        text-align: center;
        position: absolute;
        z-index: 11;
        top: 35px;
        right: -50px;
        div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 15px;
            line-height: 22px;
            font-family: Montserrat-Medium;
            color: #333333;
            margin-bottom: 15px;
            p{
                display: flex;
                align-items: center;
                &:first-child{
                    padding-right: 8px;
                }
                &:last-child{
                    padding-left: 8px;
                }
            }
            input{
                border: 0.5px solid #8C8C8C;
                box-sizing: border-box;
                border-radius: 28px;
                font-size: 15px;
                line-height: 22px;
                font-family: Montserrat-Medium;
                color: #8C8C8C;
                width: 75px;
                height: 48px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 8px;
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type=".number"]::-webkit-calendar-picker-indicator {
                display: none;
                -webkit-appearance: none;
            }
        }
        button{
            margin: 0 auto;
            width: calc(100% - 60px);
            background: #256BF4;
            border-radius: 30px;
            height: 48px;
            max-width: 234px;
            border: none;
            color: #FFFFFF;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.0125em;
            font-family: Montserrat-SemiBold;
            cursor: pointer;
        }
    }
    .priority-modal{
        width: 162px;
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 2px 2px 16px rgba(23, 23, 23, 0.06);
        border-radius: 24px;
        text-align: left;
        padding: 4px 24px;
        position: absolute;
        z-index: 111;
        top: 25px;
        right: -45px;
        li{
            padding: 16px 0;
            border-bottom: 0.5px solid #D9D9D9;
            &:last-child{
                border: none;
            }
        }
        .dot{
            width: 16px;
            height: 16px;
            &.high{
                background: #F44336;
            }
            &.normal{
                background: #FF872B;
            }
            &.low{
                background: #595959;
            }
        }
    }
}
.box-task_btn {
    text-align: center;

    button {
        width: 100%;
        max-width: 227px;
    }
}
.box-task_profile {
    table {
        border-spacing: 0 16px;

        td {
            &:nth-child(1) {
                span {
                    padding: 0 16px;
                    font-size: 14px;
                    line-height: 17px;
                    letter-spacing: 0.02em;
                    color: #8C8C8C;
                    font-family: Montserrat-Medium;
                    vertical-align: middle;
                }
                input{
                    text-align: left;
                    padding: 8px;
                    width: 175px;
                    height: 33px;
                    border: 1px solid #8C8C8C;
                    border-radius: 3px;
                    margin-left: 8px;
                    &::placeholder{
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.02em;
                        color: #333333;
                        font-family: Montserrat-Medium;
                    }
                }
            &:nth-child(2){
                color: #256BF4;
            }
                img {
                    vertical-align: middle;
                }
            }

            &:nth-child(2) {
                font-size: 15px;
                line-height: 23px;
                text-align: right;
                letter-spacing: -0.03em;
                color: #256BF4;
                font-family: Montserrat-Medium;

                img {
                    vertical-align: middle;
                    margin-right: 14px;
                }
                input{
                    text-align: right;
                    padding: 8px;
                    width: 175px;
                    height: 33px;
                    border: 1px solid #8C8C8C;
                    border-radius: 3px;
                    &::placeholder{
                        font-size: 14px;
                        line-height: 17px;
                        letter-spacing: 0.02em;
                        color: #333333;
                        font-family: Montserrat-Medium;
                    }
                }
            }
        }
    }
    .profile-modal{
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 2px 2px 16px rgba(23, 23, 23, 0.06);
        border-radius: 24px;
        padding: 4px 24px;
        width: 228px;
        position: absolute;
        z-index: 111;
        top: 28px;
        left: 67px;
        li{
            padding: 16px 0;
            border-bottom: 0.5px solid #D9D9D9;
            span{
                padding: 0 0 0 10px !important;
                font-size: 15px;
                line-height: 18px;
                font-family: Montserrat-Medium;
                color: #333333 !important;
            }
            &:last-child{
                border: none;
            }
        }
    }
    .profile-modal-select{
        background: #FFFFFF;   
        width: 388px;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.16), 0px 0px 21px rgba(23, 23, 23, 0.16);
        border-radius: 24px;
        padding: 24px 36px;
        text-align: center;
        position: absolute;
        z-index: 111;
        top: 35px;
        right: -40px;
        &::before{
            content: '';
            display: block;
            background: #ffffff;
            width: 17px;
            height: 17px;
            border-radius: 4px;
            transform: rotate(45deg);
            position: absolute;
            top: -6px;
            right: 85px;
            z-index: 1;
        }
        select{
            width: 100%;
            height: 48px;
            position: relative;
            background: #FFFFFF;
            border: 0.5px solid #8C8C8C;
            box-sizing: border-box;
            border-radius: 28px;
            padding-left: 84px;
            position: relative;
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            text-overflow: '';
            margin-bottom: 16px;
            font-size: 15px;
            line-height: 22px;
            color: #000000;
            opacity: 0.5;
            &::before{
                content: '';
                background: url('../images/Frame 130.png') no-repeat center center/cover;
                display: block;
                width: 24px;
                height: 24px;
                position: absolute;
                top: 50%;
                left: 20px;
                transform: translateY(-50%);
            }
        }
        .icon-before-1{
            position: absolute;
            z-index: 1;
            top: 36px;
            left: 72px;
        }
        .icon-before-2{
            position: absolute;
            z-index: 1;
            top: 36px;
            right: 54px;
        }
        input{
            font-size: 15px;
            line-height: 22px;
            color: #8C8C8C;
            font-family: Montserrat-Medium;
            height: 48px !important;
            width: 100% !important;
            border: 0.5px solid #8C8C8C;
            border-radius: 28px !important;
            text-align: left !important;
            padding: 12px 35px !important;
        }
        .box-task_btn{
            button{
                margin-top: 15px;
                padding: 8px 24px;
                width: 234px;
                height: 48px;
                background: #256BF4;
                border-radius: 30px;
                color: #fff;
                border: none;
            }
        }
    }
}

.box-task_member{
    table{
        td{
            height: 52px;
            vertical-align: middle;
            &.active{
                color: #256BF4;
            }
            &:nth-child(1){
                img{
                    margin-right: 12px;
                }
                span{
                    font-size: 13px;
                    line-height: 16px;
                    color: #333333;
                    font-family: Montserrat-Medium;
                }
            }
            &:nth-child(2){
                color: #8C8C8C;
                img{
                    margin-left: 8px;
                }
            }
        }
    }
}
.box-task_feedback{
    .feedback-title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
        .title_name{
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.0125em;
            color: #333333;
            font-family: Montserrat-SemiBold;
        }
        .title_date{
            font-size: 15px;
            line-height: 23px;
            letter-spacing: -0.03em;
            font-family: Montserrat-Medium;
            color: #8C8C8C;
        }
    }
    .feedback-desc{
        font-size: 13px;
        line-height: 16px;
        color: #333333;
        font-family: Montserrat-Medium;
    }
    .file-btn{
        padding: 8px 16px;
        background: #FFFFFF;
        border: 0.5px solid #8C8C8C;
        box-sizing: border-box;
        border-radius: 24px;
        position: relative;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: #333333;
        font-family: Montserrat-Medium;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        width: max-content;
        margin: 16px 0;
        span {
            padding: 0 15px;
        }
    
        .close {
            cursor: pointer;
        }
    }
    li{
        border-bottom: 1px solid #D9D9D9;
        margin-bottom: 20px;
        &:last-child{
            margin: 0;
            border: none;
        }
    }
}

.list-task_related{
    .title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 19px;
        .box-txt{
            display: flex;
            align-items: center;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: -0.03em;
            color: #333333;
            font-family: Montserrat-Medium;
            img{
                margin-left: 8px;
                cursor: pointer;
            }
        }
    }
    .sub-list-task_related{
        li{
            margin-bottom: 23px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 14px;
            line-height: 17px;
            font-family: Montserrat-Medium;
            letter-spacing: 0.02em;
            color: #595959;
            .number-stt{
                margin-right: 33px;
            }
            img{
                cursor: pointer;
            }
        }
    }
}
.task-form-chat_footer{
    border-top: 1px solid #D9D9D9;
    padding-top: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .col-right{
        width: 48px;
        button{
            border: none;
            background: none;
            cursor: pointer;
        }
    }
    .col-left{
        display: flex;
        align-items: center;
        width: calc(100% - 48px);
        label{
            margin-right: 18px;
            cursor: pointer;
        }
        #chat-upload{
            display: none;
        }
        input{
            height: 36px;
            border: none;
            width: 100%;
            font-size: 15px;
            line-height: 22px;
            font-family: Montserrat-Medium;
            &::placeholder{
                color: #8C8C8C;
            }
        }

    }
}
// ============= End box-task =============

// ============= Start list modal ===========
h1.titlecheck{
   margin: 20px 0;
}
.modal{
    padding: 24px;
    background: #FFFFFF;
    border-radius: 24px;
    position: relative;
    span.close{
        position: absolute;
        top: 24px;
        right: 24px;
        z-index: 111;
        img{
            cursor: pointer;
            width: 30px;
        }
    }
    .title{
        display: flex;
        align-items: center;
        font-size: 15px;
        line-height: 23px;
        letter-spacing: -0.03em;
        font-family: Montserrat-SemiBold;
        color: #333333;
        margin-bottom: 28px;
        img{
            margin-right: 18px;
        }
    }
    table{
        td{
            position: relative;
        }
    }
}
.modal-btn{
    text-align: center;
    button{
        background: #256BF4;
        border-radius: 30px;
        border: none;
        height: 48px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        letter-spacing: 0.0125em;
        color: #FFFFFF;
        cursor: pointer;
        font-family: Montserrat-SemiBold;
        width: 100%;
        max-width: 234px;
    }
}
.task-profile_delete{
    max-width: 564px;
    p{
        padding: 72px 24px 24px 24px;
        text-align: center;
        font-size: 15px;
        line-height: 38px;
        letter-spacing: -0.03em;
        font-family: Montserrat-Medium;
    }
    .modal-btn{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 32px;
        margin-bottom: 12px;
        button{
            &.btn-no{
                background: #F5F5F5;
                color: #8C8C8C;
            }
        }
    }
}

.task-feedback_create{
    max-width: 766px;
    form{
        padding: 36px 0;
        label{
            padding-left: 35px;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: -0.03em;
            color: #8C8C8C;
            font-family: Montserrat-Medium;
        }
        textarea{
            width: 100%;
            min-width: 100%;
            max-width: 100%;
            min-height: 160px;
            border: 0.5px solid #8C8C8C;
            border-radius: 28px;
            padding: 12px 35px;
            font-size: 15px;
            margin-top: 8px;
            margin-bottom: 30px;
            line-height: 22px;
            color: #8C8C8C;
            font-family: Montserrat-Medium;
            &::placeholder{
                font-size: 15px;
                line-height: 22px;
                color: #8C8C8C;
                font-family: Montserrat-Medium;
            }
        }
        #upload-file{
            width: 0;
            height: 0;
            overflow: hidden;
        }
        .label-file{
            width: 100%;
            display: inline-flex;
            width: auto;
            height: 48px;
            align-items: center;
            padding: 0 37px;
            border: 1.25px solid #256BF4;
            border-radius: 28px;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.0125em;
            color: #256BF4;
            font-family: Montserrat-SemiBold;
            cursor: pointer;
            margin-top: 8px;
            img{
                margin-right: 12px;
            }
        }
    }
    ul.list-file{
        li {
            padding: 8px 16px;
            background: #FFFFFF;
            border: 0.5px solid #8C8C8C;
            box-sizing: border-box;
            border-radius: 24px;
            position: relative;
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            color: #333333;
            font-family: Montserrat-Medium;
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            width: max-content;
            margin-right: 12px;
            margin-bottom: 12px;
            span {
                padding: 0 15px;
            }

            .close {
                cursor: pointer;
            }
        }
    }
    ul{
        padding: 16px 0;
        border-bottom: 1px solid #BFBFBF;
        li{
            padding-bottom: 16px;
        }
    }
    .title-p{
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: #000000;
        font-family: Montserrat-SemiBold;
    }
}

.task-file_create{
    max-width: 766px;
    form{
        label{
            padding-left: 36px;
            margin-bottom: 8px;
            display: block;
            font-size: 15px;
            line-height: 23px;
            letter-spacing: -0.03em;
            color: #000000;
            opacity: 0.5;
            font-family: Montserrat-Medium;
        }
    }
    select{
        width: 100%;
        border: 0.5px solid #8C8C8C;
        height: 48px;
        border-radius: 28px;
        padding-left: 36px;
        font-size: 15px;
        line-height: 22px;
        font-family: Montserrat-Medium;
        color: #333333;
        margin-bottom: 10px;
    }
    .list-checkbox{
        padding: 10px 0 0 36px;
        label{
            padding: 0;
            margin-bottom: 16px;
            display: block;
        }
    }
}

.task-member_create{
    width: 751px;
    table{
        width: 100%;
        border-spacing: 0 20px;
        span,img{
            vertical-align: middle;
        }
        tr{
            &.active{
                td{
                    color: #256BF4;
                }
            }
        }
        td{
            &:nth-child(1){
                padding-left: 22px;
                span{
                    font-size: 13px;
                    line-height: 16px;
                    color: #333333;
                    font-family: Montserrat-Medium;
                    padding: 0 12px;
                }
            }
            &:nth-child(2){
                text-align: right;
                font-size: 15px;
                line-height: 23px;
                text-align: right;
                letter-spacing: -0.03em;
                font-family: Montserrat-Medium;
                color: #8C8C8C;
                img{
                    margin-left: 8px;
                    cursor: pointer;
                }
            }
        }
    }
    .add-member{
        cursor: pointer;
    }
    .add-member_input{
        input{
            font-size: 14px;
            line-height: 17px;
            letter-spacing: 0.02em;
            padding: 8px;
            color: #333333;
            font-family: Montserrat-Medium;
            width: 100%;
            margin-left: 45px;
        }
    }
    .list-role{
        background: #FFFFFF;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08), 2px 2px 16px rgba(23, 23, 23, 0.06);
        border-radius: 24px;
        max-width: 202px;
        text-align: left;
        padding: 4px 24px;
        position: absolute;
        top: 35px;
        right: -7px;
        z-index: 111;
        input{
            vertical-align: middle;
            margin-right: 13px;
        }
        li{
            padding: 16px 0;
            border-bottom: 0.5px solid #D9D9D9;
        }
    }
}

.task-relared_create{
    max-width: 766px;;
    label{
        font-size: 15px;
        line-height: 23px;
        font-family: Montserrat-Medium;
        letter-spacing: -0.03em;
        color: #000000;
        opacity: 0.5;
        padding-left: 36px;
        margin-bottom: 8px;
        display: block;
    }
    select{
        font-size: 15px;
        line-height: 22px;
        padding-left: 36px;
        height: 48px;
        color: #333333;
        font-family: Montserrat-Medium;
        width: 100%;
        border: 0.5px solid #8C8C8C;
        border-radius: 28px;
        margin-bottom: 28px;
    }
}

.list-checkbox{
    input[type=checkbox]{
        display: none;
    }
    label {
        position: relative;
        cursor: pointer;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.02em;
        color: #333333;
        font-family: Montserrat-Medium;
        &:before {
            content: '';
            background: none;
            width: 18px;
            height: 18px;
            border: 2px solid #333333;
            display: inline-block;
            position: relative;
            vertical-align: middle;
            cursor: pointer;
            border-radius: 7px;
            margin-right: 8px;
        }
    }
    input:checked + label:after {
        content: '';
        display: block;
        position: absolute;
        top: 2px;
        left: 9px;
        width: 4px;
        height: 11px;
        border: solid #256BF4;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    input:checked + label::before {
        border-color: #256BF4;
    }
}
// ============= End list modal =============

