@font-face {
    font-family: Montserrat-SemiBold;
    src: url(./../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: Montserrat-Light;
    src: url(./../fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Montserrat-Regular;
    src: url(./../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Montserrat-Bold;
    src: url(./../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: Montserrat-Medium;
    src: url(./../fonts/Montserrat-Medium.ttf);
}
@font-face {
    font-family: Nunito-Regular;
    src: url(./../fonts/Nunito-Regular.ttf);
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* Color */
$grantt-color-blue-1: #3B7AF5;
$grantt-color-blue-2: #2059CB;
$grantt-color-grey-4: #BFBFBF;
$grantt-color-grey-5: #8C8C8C;
$grantt-color-orange: #E38437;
$grantt-color-text: #8c8c8c;
$text-color-1: #256BF4;
$text-color-5: #8C8C8C;
$text-color-6: #595959;
$primary-text-color: #333333;
$bg-color-grey-2: #F5F5F5;
$bg-color-blue-1: #256BF4;
$border-color: #D9D9D9;
$border-color-2: #BFBFBF;
$border-color-5: #8C8C8C;
$white: #fff;

